
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to my Lab4</h1>
<br />
<h1>My name is moayad algergawi im a level 5 student in algonquin college.</h1>
<h1>The lab was not impossible, i managed to do it but it took me 4 days to finish it. It is a fun lab and i really understood and enjoyed a lot of the stuff that i did.</h1>
<h1>What i liked the most is the word documnet. It explained everything clearly.</h1>
